@use "../base/variables" as *;
@use "../base/mixins" as *;

#site-header {
    display: grid;
    grid-template-rows: 1fr 3px;
    grid-column: full;

    .wrapper {
        background-color: #333333;
    }

    .content {
        display: grid;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    a.active {
        color: #fff;
    }
}

.top-navigation {
    background-color: #151515;
    padding-top: 10px;

    .navigation {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        a {
            font-size: 16px;
            color: #aaa;

            &:hover {
                color: #fff;
            }
        }

        a.skip-link {
            margin-left: 0;
            position: absolute;
            left: 10px;
            top: 10px;
            transform: translateY(-200%);
            transition: transform 0.6s;

            &:focus {
                transform: translateY(0%);
            }
        }

        & > a {
            margin-left: 40px;
        }

        & > span {
            margin-left: 35px;

            a {
                margin-left: 5px;
            }
        }
    }
}

.site-brand {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.site-banner {
    font-size: 20px;
    padding-left: 120px;

    a {
        color: #fff;
    }
}

.site-logo {
    display: flex;
}

.github-repo {
    color: #fff;
    font-size: 30px;
    padding: 10px;
    margin: 10px;
    border-radius: 40px;

    i {
        vertical-align: middle;
    }
}

.get-started {
    margin-left: auto;
    padding-bottom: 10px;

    button {
        @include rounded-button;
        & {
            background-color: transparent;
            margin: 0;
        }
    }
}

.site-navigation {
    padding: 0 0 10px 0;
    font-size: 18px;

    a {
        margin-left: 40px;
        color: #aaa;

        &:hover {
            color: #fff;
        }
    }
}

.bottom-bar {
    background-color: #e71c8c;
}

.file-path,
#terminal-title {
    font-size: 20px;
    line-height: 59px;
    margin-left: 10px;
    display: inline-block;
    flex: 0 1 auto;  // Don't grow, can shrink, auto basis
    max-width: 300px;  // Hard limit on width
    min-width: 50px;   // Minimum width
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// Ensure Save + Run button stays visible
.btn-save-run {
    flex-shrink: 0;  // Never shrink
    flex-grow: 0;    // Never grow
    margin-left: auto;  // Push to the right
}

@media (max-width: $screen-xs-max) {
    #site-header {
        display: none !important;
    }

    #editor-bar, #serial-bar {
        display: none !important;
    }
}
