html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    font-family: "Proxima Nova", "Montserrat", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    background-color: #ebebeb;
    padding: 0;
    margin: 0;
}

body {
    @include viewport-height(0, min-height);
    @include viewport-height(0);
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
}

.clear {
    clear: both;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

.responsive {
    max-width: 100%;
    height: auto;
}

.purple-button {
    display: inline-block;
    font-size: 1.1em;
    width: auto;
    padding: 8px 10px 8px 10px;
    color: #fff;
    border-radius: 5px;
    border: none;
    background-color: $purple;
    margin: 10px 0 10px 10px;

    i {
        padding-left: 10px;
    }

    cursor: pointer;
    white-space: nowrap;

    &:first-of-type {
        margin-left: 0;
    }

    &:last-of-type {
        margin-right: 0;
    }

    &:hover {
        background-color: darken($purple, 15%);
    }

    &.hidden {
        display: none;
    }
}

.purple-button.inverted,
.mode-editor .btn-mode-serial,
.mode-serial .btn-mode-editor {
    color: $purple;
    background-color: $gray;

    &:hover {
        background-color: darken($gray, 15%);
    }
}

.purple-button:disabled {
    background-color: #d8d8d8;
    color: #888;
}

fieldset {
    border: 0;

    legend {
        font-size: 1.5em;
        font-weight: 500;
    }
}
