@use "../base/variables" as *;
@use "sass:color";

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    font-family: "Proxima Nova", "Montserrat", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    background-color: #ebebeb;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.clear {
    clear: both;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

.responsive {
    max-width: 100%;
    height: auto;
}

.purple-button {
    display: inline-block;
    font-size: 1.1em;
    width: auto;
    padding: 8px 10px 8px 10px;
    color: #fff;
    border-radius: 5px;
    border: none;
    background-color: $purple;
    margin: 10px 0 10px 10px;
    cursor: pointer;
    white-space: nowrap;

    i {
        padding-left: 5px;
    }

    &:first-of-type, &.first-item {
        margin-left: 0;
    }

    &:last-of-type, &.last-item {
        margin-right: 0;
    }

    &:hover {
        background-color: color.adjust($purple, $lightness: -15%);
    }

    &.hidden {
        display: none;
    }
}

.purple-button.inverted {
    color: $purple;
    background-color: $gray;

    &:hover {
        background-color: color.adjust($gray, $lightness: -15%);
    }
}

.purple-button:disabled {
    background-color: #d8d8d8;
    color: #888;
}

@media print {
  body {
    visibility: hidden;
  }
  #editor-page.focused-panel #editor, #serial-page.focused-panel #terminal {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 2em;
    .xterm-rows {
      font-size: 1.2em;
      &> div {
        height: 1.2em !important;
        line-height: 1.2em !important;
      }
    }
  }
}