.container {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        max-width: $screen-sm;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: $screen-md;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: $screen-lg;
    }
}

.connection-layout {
    background-color: #fff;
    padding: 0 40px;
    margin-top: 40px;
    overflow-y: auto;
    max-height: calc(100vh - 140px);

    .step {
        display: flex;
        .step-number {
            width: 75px;
            height: 75px;
            color: #333;
            font-size: 64px;
            font-weight: 600;
            line-height: 64px;
            text-align: center;
            margin: 20px 20px 0 0;
            border: solid 5px #333;
            border-radius: 100%;
            min-width: 75px;
        }
    }
}

@media (max-width: $screen-xs-max) {
    .connection-layout {
        .step {
            .step-number {
                width: 50px;
                height: 50px;
                color: #333;
                font-size: 36px;
                font-weight: 600;
                line-height: 36px;
                margin: 20px 20px 0 0;
                border: solid 5px #333;
                min-width: 50px;
            }
        }
        max-height: calc(100vh - 100px);
        padding: 20px;
    }
}
