#mobile-header {
    background-color: #333;

    .header-contents {
        padding: 9px 5px 5px 8px;
    }

    /* screen reader only */
    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

    .site-logo {
        float: left;
    }

    .bottom-bar {
        height: 3px;
    }
}

#mobile-editor-bar {
    #mobile-menu {
        float: left;

        .menu-toggle {
            font-size: 34px;
            padding: 10px 0 10px 10px;

            button {
                border: none;
                color: #333333;
                outline: none;
            }
        }
    }

    #mobile-menu-contents {
        position: absolute;
        z-index: 2;
        width: 100vh;
        left: 0;
        top: 118px;

        &.hidden {
            display: none;
        }

        ul {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            font-size: 20px;
            margin-top: 0;

            li {
                padding: 20px 0 20px 20px;
                border-bottom: 1px solid #dddddd;
                background-color: #f0f0f0;

                &:first-child {
                    border-top: 1px solid #dddddd;
                }

                a {
                    color: $purple;
                    cursor: pointer;

                    i {
                        padding-left: 10px;
                    }
                }
            }
        }
    }

    .btn-save-run {
        float: right;
    }

    .file-path {
        float: left;
    }
}

@media (min-width: $screen-sm) {
    #mobile-header {
        display: none !important;
    }

    #mobile-editor-bar {
        display: none !important;
    }
}