#site-header {
    display: grid;
    grid-template-rows: 1fr 3px;
    grid-column: full;

    .wrapper {
        background-color: #333333;
        height: 100px;
    }

    .content {
        display: grid;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    a.active {
        color: #fff;
    }
}

.top-navigation {
    background-color: #151515;
    padding-top: 10px;

    .navigation {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        a {
            font-size: 16px;
            color: #aaa;

            &:hover {
                color: #fff;
            }
        }

        a.skip-link {
            margin-left: 0;
            position: absolute;
            left: 10px;
            top: 10px;
            transform: translateY(-200%);
            transition: transform 0.6s;

            &:focus {
                transform: translateY(0%);
            }
        }

        & > a {
            margin-left: 40px;
        }

        & > span {
            margin-left: 35px;

            a {
                margin-left: 5px;
            }
        }
    }
}

.site-brand {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.site-banner {
    font-size: 20px;
    padding-left: 120px;

    a {
        color: #fff;
    }
}

.get-started {
    margin-left: auto;
    padding-bottom: 10px;

    a,
    button {
        @include rounded-button;
        background-color: transparent;
        margin: 0;
    }
}

.site-navigation {
    padding: 0 0 10px 0;
    font-size: 18px;

    a {
        margin-left: 40px;
        color: #aaa;

        &:hover {
            color: #fff;
        }
    }
}

.bottom-bar {
    background-color: #e71c8c;
}

.file-path,
#terminal-title {
    font-size: 20px;
    line-height: 59px;
    margin-left: 10px;
    display: inline;
    flex: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

#footer-bar {
    display: flex;

    .spacer {
        flex: auto;
    }
}

#editor-bar {
    display: flex;
}

@media (max-width: $screen-xs-max) {
    #site-header {
        display: none !important;
    }

    #editor-bar {
        display: none !important;
    }
}