#ble-instructions,
#web-instructions,
#usb-instructions {
    h1 {
        font-weight: 400;
    }

    p {
        margin-bottom: 16px;
    }

    h2 {
        border-bottom: 1px solid $gray-border;
        padding-bottom: .3em;
        margin-bottom: 16px;
        margin-top: 24px;
    }

    ul {
        margin-bottom: 16px;

        li {
            margin-top: .25em;
        }
    }

    a {
        color: #0062c7;
        text-decoration: underline;
    }
}

#editor-bar,
#serial-bar {
    height: 59px;
}

#editor-page {
    .btn-save-run {
        margin-right: 10px;
    }

    .editor-container {
        background: #333;

        .cm-editor {
            @include viewport-height($terminal-height-offset-mobile);
        }
    }
}

#serial-page {
    .terminal-container {
        background: #333;
    }

    #terminal {
        position: relative;
        width: 100%;
        @include viewport-height($terminal-height-offset-mobile);

        .xterm .xterm-viewport {
            background-color: transparent;
            overflow-y: scroll;
            cursor: default;
            position: absolute;
            inset: 0;
            scrollbar-color: var(--highlight) var(--dark);
            scrollbar-width: thin;

            &::-webkit-scrollbar {
                background-color: var(--dark);
                width: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background: var(--highlight);
            }
        }
    }
}

@media (min-width: $screen-sm) {
    #serial-page {
        #terminal {
            @include viewport-height($terminal-height-offset);
        }
    }

    #editor-page {
        .editor-container {
            .cm-editor {
                @include viewport-height($terminal-height-offset);
            }
        }
    }
}

@media (min-width: 650px) {
    .popup-modal.file-dialog {
        max-height: 365px;
        max-width: 650px;
    }
}

@media (max-width: 767px) {
    .popup-modal.file-dialog {
        #file-list a {

            span:nth-child(3),
            span:nth-child(4) {
                visibility: hidden;
            }
        }
    }
}

@media (min-width: 768px) {
    .popup-modal.connect-dialog {
        width: 768px;
    }
}

#main-content {
    &.mode-editor {
        #serial-page {
            display: none;
        }
    }

    &.mode-serial {
        #editor-page {
            display: none;
        }
    }

    &.unsaved .file-path {
        color: #f60;
    }
}

.CodeMirror {
    max-height: 1000px;
    width: 100%;
    height: 100%;
}

.loader {
    display: none;
    z-index: 9998;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;

    &.overlay {
        background-color: rgba(0, 0, 0, .35);
    }

    div {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 300ms ease-in-out;
        position: fixed;
        z-index: 9999;
    }

    &.busy {
        display: block;
    }
}

.body-blackout {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .65);
    display: none;

    &.is-blacked-out {
        display: block;
    }

    &.no-overlay {
        background-color: transparent;
    }
}

.popup-trigger {
    display: inline-block;
}

.popup-modal {
    max-height: 100vh;
    max-width: 100vw;
    /*width: 768px;*/
    background-color: #fff;
    border: 2px solid $purple;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 25px 20px 10px;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in-out;
    display: none;

    &.prompt {
        max-height: 365px;
    }

    &.shadow {
        filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, .6));
    }

    &.is--visible {
        opacity: 1;
        pointer-events: auto;
        display: block;
    }

    &__close {
        position: absolute;
        font-size: 1.2rem;
        right: 8px;
        top: 5px;
        cursor: pointer;
        background: #fff;
        line-height: 25px;
    }

    &.no-padding,
    &.connect-dialog {
        padding: 0;
    }

    .label {
        margin-bottom: 5px;

        &.centered {
            text-align: center;
        }
    }

    .buttons {
        display: flex;
        text-align: right;
        margin-top: 10px;

        button {
            margin-left: 10px;

            i {
                padding-left: 0;
            }

            &:first-child {
                margin-left: 0;
            }

            &.purple-button-link {
                min-width: 250px;
            }
        }

        input {
            margin: 10px 0;
            flex-grow: 1;
            font-size: 1.2em;
            padding: 0 5px;
            border: 1px solid #888;

            &:disabled {
                background-color: #eee;
            }
        }

        &.centered {
            justify-content: center;
        }

        &.stacked {
            flex-direction: column;

            button {
                margin: 5px 0;
                width: 250px;
            }
        }

    }

    &.file-dialog {
        #current-path {
            position: absolute;
            font-size: 1.2rem;
            top: 12px;
            left: 30px;
            max-width: 570px;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        #file-list {
            font-size: 1.4em;
            overflow: auto;
            height: 200px;
            padding: 5px 0;
            border: 1px solid #888;

            a {
                &.hidden-file {

                    i,
                    span {
                        opacity: 0.65;
                    }
                }

                padding-left: 5px;
                display: grid;
                grid-template-columns: 30px minmax(60px, 1fr) 60px 1fr;
                grid-gap: 10px;
                cursor: default;

                &.selected {
                    background-color: $light-purple;
                }

                i {
                    text-align: center;
                }

                span {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
        }
    }

    &[data-popup-modal="folder-select"] {
        #file-list {
            margin-top: 20px;
        }
    }

    &[data-popup-modal="device-discovery"] {
        .device-info {
            margin-top: 5px;
            width: 100%;
            border-collapse: collapse;
            filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, .5));

            thead tr {
                background-color: $light-purple;
                color: #ffffff;
                text-align: center;

                th {
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }
            }

            th,
            td {
                padding: 5px 10px;
            }

            tbody {
                tr {
                    border-bottom: 1px solid #ddd;

                    &:nth-of-type(even) {
                        background-color: #f3f3f3;
                    }

                    &:nth-of-type(odd) {
                        background-color: #fff;
                    }

                    &:last-of-type {
                        border-bottom: 2px solid #aaa;
                    }

                    td {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        &:first-child {
                            text-align: right;
                        }
                    }
                }
            }
        }

        h3 {
            margin: 10px auto 5px;

            i {
                margin-left: 10px;
                cursor: pointer;

                &:hover {
                    color: $purple;
                }
            }
        }

        #devices {
            max-width: 500px;
            font-size: 1.2rem;
            height: 120px;
            border: 1px solid #333;
            text-overflow: ellipsis;
            overflow-y: scroll;

            a {
                cursor: pointer;
            }
        }
    }

    &[data-popup-modal="progress"] {
        progress {
            width: 100%;
        }
    }

}