#landing-page {
  .content {
    h1 {
      font-weight: 400;
    }

    p {
      margin-bottom: 16px;
    }

    h2 {
      border-bottom: 1px solid $gray-border;
      padding-bottom: .3em;
      margin-bottom: 16px;
      margin-top: 24px;
    }

    ul {
      margin-bottom: 16px;
      li {
        margin-top: .25em;
      }
    }
    a {
      color: #0062c7;
      text-decoration: underline;
    }
  }
}

#editor-page {
    .btn-save-run {
        margin-right: 10px;
    }

    .editor-container {
        background: #333;

        .cm-editor {
            height: $terminal-height-mobile;
        }
    }
}

#serial-page {
    .terminal-container {
        background: #333;
    }
    #terminal {
        position:relative;
        width:100%;
        height: $terminal-height-mobile;
    }
}

@media (min-width: $screen-sm) {
    #serial-page {
        #terminal {
            height: $terminal-height;
        }
    }

    #editor-page {
        .editor-container {
            .cm-editor {
                height: $terminal-height;
            }
        }
    }
}

.mode-landing {
    #editor-page {
        display: none;
    }
    #serial-page {
        display: none;
    }
    #mode-buttons {
        display: none;
    }
}

.mode-editor {
    #landing-page {
        display: none;
    }
    #serial-page {
        display: none;
    }
}

.mode-serial {
    #landing-page {
        display: none;
    }
    #editor-page {
        display: none;
    }
}

.CodeMirror {
    max-height: 1000px;
    width: 100%;
    height: 100%;
}

.body-blackout {
    position: absolute;
    z-index: 1010;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .65);
    display: none;
    
    &.is-blacked-out {
      display: block;
    }
  }
  
  .popup-trigger {
    display: inline-block;
  }
  
  .popup-modal {
    max-height: 365px;
    max-width: 650px;
    background-color: #fff;
    border: 2px solid $purple;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 45px;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in-out;
    z-index: 1011;
    display: none;
    
    &.is--visible {
      opacity: 1;
      pointer-events: auto;
      display: block;
    }
    
    &__close {
      position: absolute;
      font-size: 1.2rem;
      right: 8px;
      top: 5px;
      cursor: pointer;
      background: #fff;
      line-height: 25px;
    }

    #current-path {
        position: absolute;
        font-size: 1.2rem;
        top: 12px;
        left: 50px;
        max-width: 550px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    #file-list {
        font-size: 1.4em;
        overflow: auto;
        height: 240px;
        padding: 5px 0;
        a {
            padding-left: 5px;
            display: block;
            cursor: default;
            i {
                width: 30px;
                text-align: center;
            }
            span {
                margin-left: 5px;
            }
            &.selected {
                background-color: $light-purple;
            }
        }
    }

    .buttons {
        display: flex;
        text-align: right;
        margin-top: 10px;
        button {
            margin-left: 10px;
        }
        input {
            margin: 10px 0;
            flex-grow: 1;
            font-size: 1.2em;
            padding: 5px;
        }
    }
  }